.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-row-5 {
    row-gap: 5px;
}
.gap-row-10 {
    row-gap: 10px;
}
.gap-row-20 {
    row-gap: 20px;
}
.gap-col-5 {
    column-gap: 5px;
}
.gap-col-10 {
    column-gap: 10px;
}
.gap-col-20 {
    column-gap: 20px;
}